<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>

    @* view bucket *@
    <h2>@ViewBag.DishName</h2>
    <h2>@ViewBag.DishChef</h2>



    <h2>@ViewBag.DishDescription</h2>
    <h2>Calories: @ViewBag.DishCalories</h2>
    <h2>Tastiness: @ViewBag.DishTastiness</h2>
   

    <button><a href="delete/@ViewBag.DishId" >Delete</a></button>

    <button><a href="edit/@ViewBag.DishId" >Edit</a></button>

   
</body>
</html>